.live-taggg4 {
    position: absolute;
    top: -1%;
    left: 81%;
    /* background-image: url(https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-elements-of-pencil-knowledge-tree-in-red-books-png-image_4346185.jpg); */
    /* right: 50%; */
    /* background-color: #4a4ef1; */
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}

.live-tagg2{
    /* background: url(https://img.freepik.com/free-vector/pencil-round-smooth-style_78370-7571.jpg?t=st=1734708511~exp=1734712111~hmac=2a7be83e0c37e022b0e0f56066f14106792b7a1236ea5150f183a211804e16c0&w=826); */
    /* background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B); */
    /* box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75); */
    font-style: italic;
    text-transform: lowercase;
    position: relative;
    background-image: url(https://png.pngtree.com/png-clipart/20190520/original/pngtree-red-pencil-beautiful-pencil-learning-stationery-hand-drawn-pencil-png-image_3868417.jpg);
    /* transition: ease-in-out; */
    width: 5vmin;
    background-size: contain;
    height: 5vmin;
    background-repeat: no-repeat;
    /* background-color: #f7c75f; */
    border-radius: 50%;
    /* z-index: 0; */
    border: 2px solid orange;
    /* border: 5px solid; */
    animation-name: examplee;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
.live-tagg3{
    /* background: url(https://img.freepik.com/free-vector/pencil-round-smooth-style_78370-7571.jpg?t=st=1734708511~exp=1734712111~hmac=2a7be83e0c37e022b0e0f56066f14106792b7a1236ea5150f183a211804e16c0&w=826); */
    /* background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B); */
    /* box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75); */
    font-style: italic;
    text-transform: lowercase;
    position: relative;
    /* transition: ease-in-out; */
    width: 5vmin;
    background-image: url(https://png.pngtree.com/png-clipart/20190516/original/pngtree-hand-drawn-cartoon-a-pile-of-books-and-a-pencil-element-png-image_4045098.jpg);
/*  */
    background-size: contain;
    height: 5vmin;
    background-repeat: no-repeat;
    /* background-color: #f7c75f; */
    border-radius: 50%;
    /* z-index: 0; */
    border: 2px solid orange;
    /* border: 5px solid; */
    animation-name: examplee;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

.live-tagg33{
    /* background: url(https://img.freepik.com/free-vector/pencil-round-smooth-style_78370-7571.jpg?t=st=1734708511~exp=1734712111~hmac=2a7be83e0c37e022b0e0f56066f14106792b7a1236ea5150f183a211804e16c0&w=826); */
    /* background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B); */
    /* box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75); */
    font-style: italic;
    text-transform: lowercase;

    position: relative;
    background-image: url(https://png.pngtree.com/png-clipart/20190705/original/pngtree-vector-elements-of-pencil-knowledge-tree-in-red-books-png-image_4346185.jpg);
    /* transition: ease-in-out; */
    width: 5vmin;
    background-size: contain;
    height: 5vmin;
    background-repeat: no-repeat;
    /* background-color: #f7c75f; */
    border-radius: 50%;
    /* z-index: 0; */
    border: 2px solid orange;
    /* border: 5px solid; */
    animation-name: examplee;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
.highlight2 {
    background-color: orange;
    padding: 0 5px;
    color: #fff;
    border-radius: 5px;
}